html {
    margin: auto;

    max-width: 1000px;
    height: 100%;
}
hr.top{
    margin: 0 0 20px 0

}

body{height: 100%}
td.picRight{
    text-align: right;

}
img.head{
    text-align: right;
    vertical-align: center;
    height: 300px;
    width: 300px;
}
#right{
    text-align: right;

}
th.left{
    background-color: blue;
    color:white;
    min-width: 150px;
    padding: 10px;
    vertical-align: top;
}
td.center{
     border-style: solid;
     border-width: 3px;
     padding: 10px;

 }
th.right{
    background-color: orange;
    color:white;
    text-align: center;
    padding: 10px;
    vertical-align: 10px;
}

table.body{
    padding: 10px;
    min-height: 50%;
}
p.aboutme{
    text-align: justify;
}
.wide{
    width: 100%;
}
footer{
    border-style: dashed;
    border-color: green;
    border-width: 5px;
    vertical-align: top;
    text-align:left;
    min-height: 75px;
}
.floatImg{
    float:right;
    height: 200px;
    width:200px;
}